@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Lato:100');

body {
  background-color: #F2F2F2;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

* {
  outline: 1px dotted lime;
}
.header {
  height: 90px;
  background-color: #2D2F3B;
  color: white;
  border-bottom: 6px solid #4B4E61;
}

.nav {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  float:left;
  font-size: 1.4rem;
  margin-top: 35px;
}

.salmon {
  color: #F16C65;
}

.links {
  color: #484E51;
  float: right;
  font-size: .75rem;
  margin-top: 42px;
}

.links a {
  color: white;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}

.banner {
  background-color: #F16C65;
  padding: 20px 0px;
  text-align: center;
}

.banner img {
  max-width: 790px;
  width: 90%;
}

.servicesbox {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  color: #666D89;
  padding: 40px 60px;
  overflow: hidden;
}

.bannertitle {
  font-size: 1.6rem;
}

.bannerdescription {
  font-weight: 100;
  padding-top: 35px;
  padding-bottom: 20px;
}

.column {
  float: left;
}

.text {
  float: left;
}

.servicedetail {
  padding-bottom: 35px;
}
.servicedetail img {
  float: left;
  padding-right: 20px;
}

.text h1 {
  text-decoration: none;
  font-size: 1.1rem;
}

.text h2 {
  text-decoration: none;
  font-weight: 100;
  font-size: .9rem;
}

.portfoliobg {
  background-color: #2D303A;
}

.portfolio {
  max-width: 960px;
  color: #666D89;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 60px;
}
.portfolio a {
  color: #666D89;
  text-decoration: none;
  float: left;
  padding: 2px 5px;
  margin-right: 12px;
  border: 1px solid #666D89;
  border-radius: 5px;
}

.portlinks {
  padding-bottom: 20px;
}

.images img {
  margin-right: 15px;
  margin-bottom: 15px;
}

.aboutus {
  overflow: hidden;
  max-width: 960px;
  color: #666D89;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 60px;
}

.employee {
  padding-right: 20px;
  float:left;
  max-width: 300px;
}

.employee img {
  margin-top: 30px;
  margin-bottom: 20px;
}

.employeename {
  font-size: 1.2rem;
  padding-bottom: 15px;
}

.employeedescription {
  font-weight: 100;
  padding-bottom: 20px;
}

.quotebanner {
  background-color: #F06C64;
}

.quotecontent{
  overflow: hidden;
  max-width: 960px;
  color: #F0D8D9;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 60px;
}

.inputs {
  float: left;
  max-width: 680px;
}

.inputs input{
  background-color: #D65654;
  width: 620px;
  border-radius: 7px;
  padding: 15px;
  color: #F0D8D9;
  border: none;
  font-weight: 100;
  margin: 10px;
}

.inputs textarea {
  background-color: #D65654;
  width: 620px;
  border-radius: 7px;
  padding: 15px;
  color: #F0D8D9;
  border: none;
  font-weight: 100;
  margin: 10px;
}

.contactInformation {
  float: left;
  max-width: 280px;
}

.contacttitle {
  font-size: 1.2rem;
}

.contactdescription {
    font-weight: 100;
    padding-top: 10px;
    padding-bottom: 10px;
}




@media screen and (max-width: 550px) {

  .logo {
    float: none;
    margin-top: 0px;
    padding-top: 15px;
    text-align: center;
  }

  .links {
    color: #484E51;
    float: none;
    text-align: center;
    margin-top: 16px;
  }

  .servtitle {
    text-align: center;
  }

  .text h1 {
    text-align: center;

  }

}
